* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 200px;
    width: 30%;
    height: 130px;
    background-color:#d1c7c7;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
nav div b {
    margin: 5px;
}

nav div {   
    align-items: center;
    margin: 3px;
}

.vale {
    margin: 0px;
    justify-content: center;
    align-items: center;
}
body {
    display: flex;
    background-color: #eae6e3;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}


