* {
    margin: 103;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 300px;
    background-color: rgb(199, 194, 188);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin: 70px;
}

ul {
    list-style: none;
    text-decoration: none; 
    gap: 2rem;
}
nav div button {
    display: flex;
    justify-content:end;
    align-items: center;
    margin: 10px;
    width: 60px;
}